<section class="products">
  <div class="container">
    <label for="products__label">100% natural</label>
    <h2 class="products__title">Products</h2>
    <ul class="sweetlist">
      <li class="sweetlist__item">
        <div class="sweetlist__box">      
          <h3 class="sweetlist__title">ice cream</h3>
          <p class="sweetlist__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="sweetlist__button"></button>
        </div>
      </li>
      <li class="sweetlist__item">
        <div class="sweetlist__box">
          <h3 class="sweetlist__title">ice coffee</h3>
          <p class="sweetlist__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="sweetlist__button"></button>
        </div>
      </li>
      <li class="sweetlist__item">
        <div class="sweetlist__box">
          <h3 class="sweetlist__title">milkshakes</h3>
          <p class="sweetlist__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="sweetlist__button"></button>
        </div>
      </li>
    </ul>
  </div>
</section>
